/* add css es  (optional) */

body {
  --light-color: white;
}

.test {
  display: inline-block;
  margin: 2em auto;
  border: 2px solid #000;
  font-size: 2em;
}

.list { 
  top: 25px;
  z-index: 1;
}

.link {
  text-decoration: none;
}

.grid_container {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.navbar_root {
	
}

.navbar_link {
  text-decoration: none;
  color: var(--light-color);
}
